@import 'reset';

body {
    background-color: #2545d1;
    overflow: hidden;
}

.cloud {
    width: 400px;
    height: 150px;
    background-color: #fff;
    border-radius: 10000px;
    transform: translateX(10%) translateY(15vh);
    position: relative;

    animation-name: move;
    animation-duration: 2s;

    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background: #fff;
        left: 81px;
        top: -50px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        background: #fff;
        left: 145px;
        top: -92px;
    }
}

@keyframes move {
    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(100%);
    }
}